@model LeagueDash.Models.TeamViewModels.TeamDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Team Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamCaptain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamCaptain)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Player Name
            </th>
            <th>
                Preferred Position
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PlayerList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Players" asp-route-id="@item.Player.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Team.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Team.Id">Delete</a> |
    <a asp-action="Index">Go to League</a>
</div>
