@model LeagueDash.Models.TeamViewModels.TeamListViewModel

@{
    ViewData["Title"] = "Index";
}

<h4>League Standings</h4>

@if((Model.CurrentUser.RoleId == 2 || Model.CurrentUser.RoleId == 3) && Model.CurrentUser.TeamId == null)
{
    <p>
        <a asp-action="Create">Create New Team</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Ranking
            </th>
            <th>
                Team
            </th>
            <th>
                Record
            </th>
            <th>
                Captain
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TeamList) {
        <tr>
            <td>
                @(Model.TeamList.IndexOf(item)+1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wins) - @Html.DisplayFor(modelItem => item.Losses) - @Html.DisplayFor(modelItem => item.Ties)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamCaptain)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Team.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
