@model LeagueDash.Models.PlayerViewModels.PlayerListViewModel

@{
    ViewData["Title"] = "Index";
}

<h4>Players</h4>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="searchString" value="@ViewData["currentFilter"]" />
        </p>
        <p>
            Include only Free Agents: <input type="checkbox" name="filterAgents" value="true" />
        </p>
        <input type="submit" value="Search" class="btn btn-default" /> |
        <a asp-action="Index">Back to Full List</a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Player Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PositionSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Preferred Position</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TeamSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Team</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PlayerList)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerTeam)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Player.Id">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>

