@model LeagueDash.Models.GameViewModels.GameDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.GameTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.GameTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamAName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamAName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamBName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamBName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.TeamAScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.TeamAScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.TeamBScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.TeamBScore)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Game.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Game.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
