@model LeagueDash.Models.GameViewModels.GameDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>@Html.DisplayFor(model => model.TeamAName) vs. @Html.DisplayFor(model => model.TeamBName)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.GameTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GDate) at @Html.DisplayFor(model => model.GTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamAName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamAName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.TeamAScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.TeamAScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamBName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamBName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.TeamBScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.TeamBScore)
        </dd>
    </dl>
</div>
<div>
    @if (Model.CurrentUser.RoleId == 2 && (Model.CurrentUser.TeamId == Model.Game.TeamAId || Model.CurrentUser.TeamId == Model.Game.TeamBId) || Model.CurrentUser.RoleId == 3)
    {
        <a asp-action="Edit" asp-route-id="@Model.Game.Id">Edit</a>
        <span>|</span>
        @if (Model.CurrentUser.RoleId == 3)
        {
            <a asp-action="Delete" asp-route-id="@Model.Game.Id">Delete</a>
            <span>|</span>
        }
    }
    <a asp-action="Index">Back to List</a>
</div>
