@model LeagueDash.Models.GameViewModels.GameEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Update Game Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Game.Id" />
            @if (Model.CurrentUser.RoleId == 3)
            {
                <div class="form-group">
                    <label asp-for="Game.Location" class="control-label"></label>
                    <input asp-for="Game.Location" class="form-control" />
                    <span asp-validation-for="Game.Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Game.GameTime" class="control-label"></label>
                    <input asp-for="Game.GameTime" class="form-control" />
                    <span asp-validation-for="Game.GameTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => Model.Game.TeamAId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(x => Model.Game.TeamAId, new SelectList(Model.TeamAOptions, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "TeamA" })
                    @Html.ValidationMessageFor(x => x.Game.TeamAId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => Model.Game.TeamBId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(x => Model.Game.TeamBId, new SelectList(Model.TeamBOptions, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "TeamB" })
                    @Html.ValidationMessageFor(x => x.Game.TeamBId, "", new { @class = "text-danger" })
                </div>
            }
            else
            {
                <input type="hidden" asp-for="Game.Location" />
                <input type="hidden" asp-for="Game.GameTime" />
                <input type="hidden" asp-for="Game.TeamAId" />
                <input type="hidden" asp-for="Game.TeamBId" />
            }
            <div class="form-group">
                <label asp-for="Game.TeamAScore" class="control-label"></label>
                <input asp-for="Game.TeamAScore" class="form-control" />
                <span asp-validation-for="Game.TeamAScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.TeamBScore" class="control-label"></label>
                <input asp-for="Game.TeamBScore" class="form-control" />
                <span asp-validation-for="Game.TeamBScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Game Log</a>
</div>

