@model IEnumerable<LeagueDash.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamAId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamBId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamAScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamBScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamAId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamBId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamAScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamBScore)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
