@model LeagueDash.Models.GameViewModels.GameListViewModel

@{
    ViewData["Title"] = "Index";
}

<h4>Game Log</h4>
@if (Model.CurrentUserRoleId == 3)
{
<p>
    <a asp-action="Create">Schedule New Game</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Team A
            </th>
            <th>
                Score
            </th>
            <th>
                Team B
            </th>
            <th>
                Score
            </th>
            <th>
                Date and Time
            </th>
            <th>
                Location
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GameList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamAName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.TeamAScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamBName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.TeamBScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GDate) at @Html.DisplayFor(modelItem => item.GTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Location)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Game.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
